* {
    margin: 0;
    padding: 0;
}

body {
    width: 200px;
    margin: 0 auto;
    margin-top: 15%;
    line-height: 2;
}

.spades:before {
    content: ' \2660  ';
}

.clubs:before {
    content: ' \2663  ';
}

.diamonds:before {
    color: red;
    content: ' \2666  ';
}

.hearts:before {
    color: red;
    content: ' \2665  ';
}