* {
    margin: 0;
    padding: 0;
}

body {
    width: 950px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 1.5;
    border: 1px solid black;
}

h1 {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

h2{
    font-size: 20px;
}

.content {
    font-size: 16x;
    margin-left: 20px;
}

.content ol li{
    margin-left: 20px;
}

.wrap {
    display: inline-block;
    width: 45%;
    margin-left: 30px;
}

