.main-block {
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.house {
    margin: 0 auto;
    margin-top: 150px;
    width: 150px;
    height: 150px;
    background: coral;
}

.roof {
    position: absolute;
    width: 0;
    height: 0;
    left: 40px;
    top: 50px;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
}

.chimney {
    position: absolute;
    width: 20px;
    height: 60px;
    left: 100px;
    top: 50px;
    background: black;
}

.door {
    position: absolute;
    width: 60px;
    height: 90px;
    left: 90px;
    top: 210px;
    background: brown;
}

.window {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 170px;
    top: 180px;
    background: cyan;
}