body {
	background-color: #1c1c1c;
	font-family: Arial, sans-serif;
}

a {
	background-color: white;
	border-radius: 10px;
}
.container {
	width: 800px;
	min-height: 480px;
	margin: 0 auto;
	margin-top: 5%;
 	margin-bottom: 5%;
	border: 3px solid black;
	background-color: #f7f7f7;
}

.header {
	display: flex;
	position: relative;
	width: 800px;
 	height: 200px;
 	background-color: #f7f7f7;
 	margin-bottom: 30px;
}

.header img {
	display: block;
    margin: 0 auto;
}

.content {
	background-color: #f7f7f7;
}

.tasks {
	font-size: 20px;
	color: green;
	margin: 0px auto;
	display: block;
	margin-bottom: 1px;
	width: 330px;
	height: 50px;
	border: 1px solid green;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
}

.tasks:hover {
	background: green;
	color: black;
}

.back {
	font-size: 20px;
	color: #0000FF;
	margin: 0px auto;
	display: block;
	margin-bottom: 1px;
	width: 330px;
	height: 50px;
	border: 1px solid #0000FF;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
}

.back:hover {
	background: #0000FF;
	color: black;
}
